html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    background-color: #eee;
  }

div.container{
    height: 100%;
    min-width: 100%;
    overflow-y: auto;
}

.container::-webkit-scrollbar{
    width: 4px;
}

.container::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, .2);
}

.container::-webkit-scrollbar-thumb{
    background: #74797c6e;
}

.ref{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 90px;
    background-color: white;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding:  10px 35px 10px 35px;
    transform: translate(0,0);
}
.label-info{
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
    white-space: nowrap;
    vertical-align: baseline;
    background-color:#3a87ad;
    border-radius: 2px;
}
.step{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 500px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: default;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    border-radius:10px;
    transform: translate(0,0);
    display: flex;
    flex-direction: row;
}

.step .stepidx{
    position: fixed;
    padding: 5px 60px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: none;
    color: #9da0a4;
    border-top-left-radius: 10px;
}

.step_img{
    width: 40%;
    min-height: 100%;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.step_img img{
    margin-top: 28px;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

.step_content{
    width: 60%;
    min-height: 100%;
    padding-top: 30px;
    overflow-y: auto;
}

.step_content::-webkit-scrollbar{
    width: 2px;
    border-radius: 10px;
}

.step_content::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, .2);
}

.step_content::-webkit-scrollbar-thumb{
    background: #74797c6e;
}

.step_content p{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.ex-icon{
    line-height: 40px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    top: 0;
    left: 0;
    text-align: center;
    border-radius: 50%;
    margin-top: 0.5rem;
    margin-right: 0;
    color: #007bff;
    cursor: pointer;
}


.ex-btn {
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  }

.success{
    color: green;
}