.hic-igv-right-hand-gutter {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 4px;
  background-color: transparent;
  width: unset;
}

.igv-app-dropdown-item-cloud-storage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 18px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.igv-app-dropdown-item-cloud-storage div:first-child {
  margin-right: 4px;
}

.igv-app-dropdown-item-cloud-storage div:last-child {
  margin-left: 4px;
}

#hic-modal-button-container {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 64px;
  margin-left: 32px;
  height: 64px;
}

#hic-modal-button-container>div {
  margin-left: 12px;
  margin-right: 12px;
}

#hic-encode-modal>.modal-dialog {
  max-width: 90% !important;
  width: 90% !important;
}

.hic-root {
  position: relative;
  left: 0;
  right: 0;
  width: 860px;
  height: 1020px;
  margin: 4px;
  /* margin-top: 15px; */
  border-radius: 15px;
  background-color: white;
  /*
  border-style: solid;
  border-width: 2px;
  border-color: #bfbfbf;
  border-radius: 0.5rem;
  */
}

.hic-root-prevent-interaction {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(99, 99, 99, 0.25);
  border-radius: 15px;
  z-index: 1024;
}

.hic-menu {
  position: absolute;
  background: white;
  bottom: 40%;
  left: 20%;
  width: 60%;
  height: 45%;
  z-index: 4096;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: unset;
  align-items: center;
  border-radius: 7px;
  border: 1px solid gray;
}

.hic-menu .hic-igv-setting-container{
  width: 80%;
  padding-left: 0px;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
}
.hic-menu .hic-igv-setting-container div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hic-menu .hic-igv-setting-container span{
  font-size: 14px;
}

.hic-menu .hic-igv-setting-container .low_bound,
.hic-menu .hic-igv-setting-container .up_bound{
    width: 55px;
    height: 25px;
    outline: none;
    border: 1px solid #eee;
    border-radius: 5px;
    text-align: center;
}

.hic-menu .hic-chromosome-selector-widget-container {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  padding-left: 8px;
  margin-top: 8px;
  margin-bottom: 13px;
  background-color: transparent;
  flex-direction: row;
}

.hic-menu .hic-chromosome-selector-widget-container>div:first-child {
  width: 35%;
  font-size: 14px;
  margin-left: 5%;
  line-height: 25px;
}


.hic-menu .hic-chromosome-selector-widget-container>div:last-child {
  width: 55%;
  margin-right: 5%;
  font-size: 14px;
}


.hic-menu .hic-chromosome-selector-widget-container div {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.hic-menu .hic-chromosome-selector-widget-container div select {
  display: block;
  cursor: pointer;
  width: 40%;
  height: 25px;
  margin-right: 8px;
  direction: rtl;
  border-color: #a6a6a638;
  border-radius: 5px;
  padding-right: 1rem;
  color: #00000073;
  background: #fff;
}


.hic-menu .hic-chromosome-selector-widget-container div div {
  width: 25px;
  height: 25px;
  background-image: url(./img/sync.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.hic-menu .hic-chromosome-selector-widget-container div div:hover,
.hic-menu .hic-chromosome-selector-widget-container div div:focus,
.hic-menu .hic-chromosome-selector-widget-container div div:active {
  cursor: pointer;
}

.hic-menu .hic-colorscale-widget-container {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  margin-top: 16px;
  margin-bottom: 8px;
}

.hic-menu .hic-colorscale-widget-container input {
  display: block;
  margin-right: 4px;
  height: 32px;
  width: 96px;
  padding: 4px;
  font-weight: 400;
  color: #5f5f5f;
  text-align: left;
  outline: none;
  border-style: solid;
  border-width: thin;
  border-color: #a6a6a6;
  background-color: white;
}

.hic-menu .hic-colorscale-widget-container i.fa {
  display: block;
  margin-left: 4px;
  margin-right: 4px;
  color: #5f5f5f;
}

.hic-menu .hic-colorscale-widget-container i.fa:hover,
.hic-menu .hic-colorscale-widget-container i.fa:focus,
.hic-menu .hic-colorscale-widget-container i.fa:active {
  cursor: pointer;
  color: #0f0f0f;
}

.hic-menu .hic-normalization-selector-container {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  padding-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
}

.hic-menu .hic-normalization-selector-container select {
  display: block;
  height: 32px;
  width: 96px;
  font-weight: 400;
  color: #5f5f5f;
}

.hic-menu .hic-normalization-selector-container select {
  width: 95%;
}

.hic-menu .hic-resolution-selector-container {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  padding-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
}

.hic-menu .hic-resolution-selector-container div#hic-resolution-label-container {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  cursor: pointer;
}

.hic-menu .hic-resolution-selector-container div#hic-resolution-label-container i.fa#hic-resolution-lock {
  display: block;
  font-size: 12px;
  padding-top: 4px;
  padding-left: 5px;
}

.hic-menu .hic-resolution-selector-container div#hic-resolution-label-container i.fa:hover,
.hic-menu .hic-resolution-selector-container div#hic-resolution-label-container i.fa:focus,
.hic-menu .hic-resolution-selector-container div#hic-resolution-label-container i.fa:active {
  cursor: pointer;
  color: #0f0f0f;
}

.hic-menu .hic-resolution-selector-container select {
  display: block;
  height: 32px;
  width: 96px;
  font-weight: 400;
  color: #5f5f5f;
}

.hic-menu .hic-resolution-selector-container select {
  width: 95%;
}

.hic-menu .hic-annotation-presentation-button-container {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 8px;
  background-color: transparent;
}

.hic-menu .hic-annotation-presentation-button-container button {
  display: block;
  width: 85%;
  padding: 8px;
  box-shadow: none;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  border-color: #a6a6a638;
  background-color: transparent;
  height: 30px;
  line-height: 0px;
}

.hic-menu .hic-annotation-presentation-button-container button:hover,
.hic-menu .hic-annotation-presentation-button-container button:active {
  cursor: pointer;
  background-color: #dfdfdf;
}

.hic-menu .hic-annotation-presentation-button-container button:focus {
  outline: none;
}


.hic-menu-close-button {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 32px;
  margin-bottom: 4px;
  padding-right: 8px;
  background: #dddddd59;
  cursor: move;
}

.hic-menu-close-button i.fa {
  display: block;
  margin-left: 4px;
  margin-right: 4px;
  color: #5f5f5f;
}

.hic-menu-close-button i.fa:hover,
.hic-menu-close-button i.fa:focus,
.hic-menu-close-button i.fa:active {
  cursor: pointer;
  color: #0f0f0f;
}

.hic-annotation-panel-container {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  position: absolute;
  top: 25%;
  left: 15%;
  width: 292px;
  background-color: white;
  z-index: 5000;
  color: #0f0f0f;
  font-size: 12px;
  font-weight: 600;
}

.hic-annotation-panel-container .hic-annotation-panel-header {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 24px;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #dddddd;
  background-color: dddddd59;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.hic-annotation-panel-container .hic-annotation-panel-header div:first-child {
  display: block;
  margin-top: 2px;
  margin-left: 8px;
  margin-right: 4px;
  text-align: left;
  text-overflow: ellipsis;
  width: 200px;
  height: 100%;
}

.hic-annotation-panel-container .hic-annotation-panel-header i.fa {
  display: block;
  margin-right: 4px;
  color: #5f5f5f;
}

.hic-annotation-panel-container .hic-annotation-panel-header i.fa:hover,
.hic-annotation-panel-container .hic-annotation-panel-header i.fa:focus,
.hic-annotation-panel-container .hic-annotation-panel-header i.fa:active {
  cursor: pointer;
  color: #0f0f0f;
}

.hic-annotation-panel-container .hic-annotation-panel-load-container {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40px;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #dddddd;
  font-size: 14px;
  font-weight: 400;
}

.hic-annotation-panel-container .hic-annotation-panel-load-container div {
  margin-left: 8px;
  background-color: rgba(94, 219, 255, 0.51);
}

.hic-annotation-panel-container .hic-annotation-row-container {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.hic-annotation-panel-container .hic-annotation-modal-row {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: white;
  cursor: default;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.hic-annotation-panel-container .hic-annotation-modal-row>div:first-child {
  display: block;
  margin-left: 8px;
  margin-right: 4px;
  text-align: left;
  width: 45%;
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hic-annotation-panel-container .hic-annotation-modal-row>i.fa {
  display: block;
  color: #5f5f5f;
}

.hic-annotation-modal-row .igv-color-swatch{
  margin-left: 15px;
}

.hic-annotation-panel-container .hic-annotation-modal-row>i.fa:last-child {
  margin-right: 32px;
}

.hic-annotation-panel-container .hic-annotation-modal-row .matrix-diagonal-widget-container {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

.hic-annotation-panel-container .hic-annotation-modal-row .matrix-diagonal-widget-all {
  background: url(img/matrix-diagonal-all.svg);
}

.hic-annotation-panel-container .hic-annotation-modal-row .matrix-diagonal-widget-lower {
  background: url(img/matrix-diagonal-lower.svg);
}

.hic-annotation-panel-container .hic-annotation-modal-row .matrix-diagonal-widget-upper {
  background: url(img/matrix-diagonal-upper.svg);
}

.hic-annotation-panel-container .hic-annotation-modal-row .up-down-arrow-container {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

.hic-annotation-panel-container .hic-annotation-modal-row .up-down-arrow-container i.fa:first-child {
  display: block;
  margin-left: 20px;
  margin-right: 8px;
  color: #5f5f5f;
}

.hic-annotation-panel-container .hic-annotation-modal-row .up-down-arrow-container i.fa:last-child {
  display: block;
  margin-left: 8px;
  margin-right: 20px;
  color: #5f5f5f;
}

.hic-annotation-panel-container .hic-annotation-modal-row:hover,
.hic-annotation-panel-container .hic-annotation-modal-row:focus,
.hic-annotation-panel-container .hic-annotation-modal-row:active {
  background-color: #f7f7f7;
}

.hic-color-swatch-container {
  position: absolute;
  z-index: 4096;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100% !important;
  background-color: white;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.hic-color-swatch-container div:first-child {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 24px;
}

.hic-color-swatch-container div:first-child i.fa {
  display: block;
  margin-right: 4px;
  color: #5f5f5f;
}

.hic-color-swatch-container div:first-child i.fa:hover,
.hic-color-swatch-container div:first-child i.fa:focus,
.hic-color-swatch-container div:first-child i.fa:active {
  cursor: pointer;
  color: #0f0f0f;
}

/* .expand{
  display: none !important;
} */
.hic-navbar-container {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: #5f5f5f;
  font-size: 14px;
  font-weight: 400;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee; */
  border-bottom: 1px solid #eee;
}

.hic-navbar-container div[id$="hic-nav-bar-map-container"] {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 36px;
}

.hic-navbar-container div[id$="hic-nav-bar-map-container"] div[id$="hic-nav-bar-map-label"] {
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  line-height: 40px;
  background-color: transparent;
  z-index: 0;
}

.hic-navbar-container div[id$="hic-nav-bar-map-container"] .hic-nav-bar-button-container {
  height: 100%;
  width: 20%;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  color: #5f5f5f8f;
}

.hic-navbar-container div[id$="hic-nav-bar-map-container"] .hic-nav-bar-button-container i {
  display: block;
  margin-top: 8px;
}

.delete-browser-panel{
  width: 15px;
  height: 15px;
  background-image: url(./img/trash.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.present-menu{
  width: 15px;
  height: 15px;
  background-image: url(./img/menu.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.sync-close{
  width: 15px;
  height: 15px;
  background-image: url(./img/syncclose.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.sync-open{
  width: 15px;
  height: 15px;
  background-image: url(./img/syncopen.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.sync-close:hover, 
.sync-open:hover,
.delete-browser-panel:hover,
.present-menu:hover {
  opacity: 0.8;
  cursor: pointer;
}


/* .hic-navbar-container div[id$="hic-nav-bar-map-container"] .hic-nav-bar-button-container i:first-child {
  margin-right: 4px;
}

.hic-navbar-container div[id$="hic-nav-bar-map-container"] .hic-nav-bar-button-container i:last-child {
  margin-left: 4px;
} */

.hic-navbar-container div[id$="hic-nav-bar-map-container"] .hic-nav-bar-button-container i:hover {
  cursor: pointer;
  color: #0f0f0f;
}

.hic-navbar-container div[id$="hic-nav-bar-widget-container"] {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 36px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.hic-chromosome-goto-container {
  display: flex;
  width: 75%;
  align-items: center;
  border: 1px #eee solid;
  border-radius: 5px;
  padding-left: 5px;
}
.hic-chromosome-goto-container .fa-search{
  color: #d1d1d1;
  padding-right: 10px;
}

.hic-browser-sync {
  display: flex;
  width: 5%;
  justify-content: flex-end;
}


.hic-chromosome-goto-container input {
  display: block;
  height: 30px;
  width: 100%;
  padding-left: 0px;
  font-weight: 400;
  color: #5f5f5f;
  text-align: left;
  outline: none;
  border: none;
  font-size: 12px;
  text-indent: 0px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.hic-chromosome-goto-container input:focus{
  box-shadow: 0 0 0 1px #929ba3, 0 0 3px 1px #929ba3;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.hic-chromosome-goto-container button {
  color: #d3ceced9;
  /* margin-left: 13px; */
  border-style: solid;
  border-width: 1px;
  border-color: #bfbfbf00;
  background-color: white;
}

.hic-chromosome-goto-container button:hover {
  cursor: pointer;
  color: #0f0f0f;
}


.hic-colorscale-widget-container {
  width: 60%;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.hic-colorscale-widget-container input {
  display: block;
  width: calc(100% - 50px);
  height: 25px;
  font-weight: 400;
  color: #000;
  outline: none;
  border: none;
  background-color: white;
  font-size: 12px;
  text-align: center;
}

.hic-colorscale-widget-container span.zoom-out {
  display: block;
  width: 15px;
  height: 15px;
  background-image: url(./img/zoom-out.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.hic-colorscale-widget-container span.zoom-in {
  display: block;
  width: 15px;
  height: 15px;
  background-image: url(./img/zoom-in.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.hic-colorscale-widget-container span.line {
  width: 1px;
  height: 100%;
  background-color: #eee;
}


.hic-colorscale-widget-container .thresh{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px #eee solid;
  width: 40%;
  border-radius: 5px;
  height: 30px;
}


.hic-colorscale-widget-container .zoom{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 1px #eee solid;
  width: 30%;
  border-radius: 5px;
  height: 30px;
  margin-left: 5px;
}


.hic-colorscale-widget-container i.fa-minus {
  display: block;
  margin-left: 10px;
  color: #a7a7a7;
  cursor: pointer;
}

.hic-colorscale-widget-container i.fa-plus {
  display: block;
  margin-right: 10px;
  color: #a7a7a7;
  cursor: pointer;
}


.hic-colorscale-widget-container span.triangle {
  background-image: url(./img/triangle.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: block;
  width: 15px;
  height: 15px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.hic-colorscale-widget-container span.diagonal {
  background-image: url(./img/diagonal.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: block;
  width: 15px;
  height: 15px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}


.hic-control-map-selector-container {
  margin-left: 5px;
  width: 15%;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.hic-control-map-selector-container select {
  text-align: center;
  height: 30px;
  border-radius: 3px;
  width: 100%;
  border-color: #a6a6a638;
  color: #00000073;
  background: #fff;
  display: inline-block;
  box-sizing: border-box;
  /* padding: 0.5em 0.5em 0.5em 0em; */
  border: 1px solid #eee;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position: right 10px top 1em, right 5px top 1em;
  background-size: 5px 5px, 5px 5px;


}

.hic-control-map-selector-container div {
  cursor: pointer;
  margin-left: 6px;
  margin-top: 6px;
}

.hic-normalization-selector-container {
  width: 25%;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

.hic-normalization-selector-container div {
  font-size: 12px;
  display: block;
  margin-right: 6px;
  margin-left: 20%;
}

.hic-normalization-selector-container select {
  height: 30px;
  margin-left: 5px;
  width: calc(100% - 5px);
  font-size: 12px;
  color: #00000073;
  background: #fff;
  border-radius: 5px;
  border-color: #a6a6a638;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5em 2em 0.5em 0.5em;
  border: 1px solid #eee;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position: right 15px top 1em, right 10px top 1em;
  background-size: 5px 5px, 5px 5px;

}

.hic-resolution-selector-container {
  width: 25%;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

.hic-resolution-selector-container div#hic-resolution-label-container {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-right: 6px;
  cursor: pointer;
}

.hic-resolution-selector-container div#hic-resolution-label-container i.fa#hic-resolution-lock {
  display: block;
  font-size: 12px;
  padding-top: 4px;
  padding-left: 10px;
}

.hic-resolution-selector-container div#hic-resolution-label-container i.fa:hover,
.hic-resolution-selector-container div#hic-resolution-label-container i.fa:focus,
.hic-resolution-selector-container div#hic-resolution-label-container i.fa:active {
  cursor: pointer;
  color: #0f0f0f;
}

.hic-resolution-selector-container select {
  height: 30px;
  font-weight: 400;
  color: #00000073;
  background: #fff;
  width: 85%;
  margin-left: 5%;
  font-size: 12px;
  border-color: #a6a6a638;
  border-radius: 2px;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5em 2em 0.5em 0.5em;
  border: 1px solid #eee;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position: right 15px top 1em, right 10px top 1em;
  background-size: 5px 5px, 5px 5px;
}

div[id$="x-track-container"] {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  height: 0px;
  background-color: white;
}

div[id$="x-track-container"] div[id$="track-shim"] {
  width: 0px;
  height: 100%;
  margin-right: 40px;
}

div[id$="x-track-container"] div[id$="x-tracks"] {
  position: relative;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: calc(100% - (0px + 40px + 20px));
  height: 100%;
  margin-right: 20px;
}

div[id$="x-track-container"] div[id$="x-tracks"] div[id$="y-track-guide"] {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  border-left-style: dotted;
  border-left-width: thin;
  border-left-color: #202020;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  z-index: 666;
}

div[id$="x-track-container"] div[id$="x-tracks"] .x-track-canvas-container {
  cursor: pointer;
  position: relative;
  width: 100%;
  margin-right: 0;
  margin-bottom: 2px;
}

div[id$="x-track-container"] div[id$="x-tracks"] .x-track-canvas-container .x-track-label {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  margin-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div[id$="x-track-container"] div[id$="x-tracks"] .x-track-canvas-container .x-track-spinner {
  position: absolute;
  top: 0;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-left: -16px;
  background-color: rgba(255, 255, 255, 0);
}

div[id$="content-container"] {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - (124px + 0px));
  background-color: white;
  /* border-left: 1px #eee solid;
  border-right: 1px #eee solid;
  border-bottom: 1px #eee solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
}

div[id$="content-container"] div[id$="x-axis-container"] {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  height: 40px;
  margin-left: 10px;
}

div[id$="content-container"] div[id$="x-axis-container"] div[id$="x-axis"] {
  width: calc(100% - (0px + 40px + 20px));
  height: 100%;
  margin-right: 0px;
  background-color: white;
}

div[id$="content-container"] div[id$="x-axis-container"] div[id$="x-axis"] div[id$="x-axis-whole-genome-container"] {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

div[id$="content-container"] div[id$="x-axis-container"] div[id$="x-axis"] div[id$="x-axis-whole-genome-container"] .x-axis-whole-genome-chromosome-container {
  font-size: 8px;
  font-weight: 400;
  color: #444;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div[id$="content-container"] div[id$="x-axis-container"] div[id$="x-axis"] div[id$="x-axis-whole-genome-container"] .x-axis-whole-genome-chromosome-container>div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-left-color: #868686;
  border-left-style: solid;
  border-left-width: thin;
}

div[id$="content-container"] div[id$="y-tracks-y-axis-viewport-y-scrollbar"] {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  height: calc(100% - (40px + 20px));
  background-color: white;
  overflow: hidden;
}

div[id$="content-container"] div[id$="y-tracks-y-axis-viewport-y-scrollbar"] div[id$="y-tracks"] {
  position: relative;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 0px;
  height: 100%;
  background-color: white;
}

div[id$="content-container"] div[id$="y-tracks-y-axis-viewport-y-scrollbar"] div[id$="y-tracks"] div[id$="x-track-guide"] {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  border-top-style: dotted;
  border-top-width: thin;
  border-top-color: #202020;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  z-index: 666;
}

div[id$="content-container"] div[id$="y-tracks-y-axis-viewport-y-scrollbar"] div[id$="y-tracks"] .y-track-canvas-container {
  display: block;
  position: relative;
  height: 100%;
  margin-right: 2px;
  background-color: white;
}

div[id$="content-container"] div[id$="y-tracks-y-axis-viewport-y-scrollbar"] div[id$="y-tracks"] .y-track-canvas-container .y-track-spinner {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  background-color: rgba(255, 255, 255, 0);
}

div[id$="content-container"] div[id$="y-tracks-y-axis-viewport-y-scrollbar"] div[id$="y-axis"] {
  width: 40px;
  height: 100%;
  margin-bottom: 20px;
  background-color: white;
  margin-left: -21px;
  left: -35px;
}

div[id$="content-container"] div[id$="y-tracks-y-axis-viewport-y-scrollbar"] div[id$="y-axis"] div[id$="y-axis-whole-genome-container"] {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

div[id$="content-container"] div[id$="y-tracks-y-axis-viewport-y-scrollbar"] div[id$="y-axis"] div[id$="y-axis-whole-genome-container"] .y-axis-whole-genome-chromosome-container {
  font-size: 8px;
  font-weight: 400;
  color: #444;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div[id$="content-container"] div[id$="y-tracks-y-axis-viewport-y-scrollbar"] div[id$="y-axis"] div[id$="y-axis-whole-genome-container"] .y-axis-whole-genome-chromosome-container>div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-top-color: #868686;
  border-top-style: solid;
  border-top-width: thin;
}

div[id$="content-container"] div[id$="y-tracks-y-axis-viewport-y-scrollbar"] div[id$="viewport"] {
  display: block;
  position: relative;
  left: 0px;
  top: 0;
  width: calc(100% - (0px + 40px + 20px));
  height: 100%;
  /* overflow-x: hidden;
  overflow-y: hidden; */
  background-color: white;
  cursor: pointer;
}

.pointer-block{
  position: absolute;
  width: auto;
  padding: 2px 10px 2px 10px;
  line-height: 15px;
  height: auto;
  border: 1px solid rgb(165, 159, 158);
  border-radius: 4px;
  top: 0%;
  left: 0%;
  z-index: 9999;
  display: none;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.601);
  pointer-events: none;
}
.pointer-block span{
  font-size: 10px;
  pointer-events: none;
}


div[id$="content-container"] div[id$="y-tracks-y-axis-viewport-y-scrollbar"] div[id$="viewport"] div[id$="viewport-spinner-container"] {
  display: table-cell;
  margin: auto;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  height: 120px;
  width: 120px;
  z-index: 2048;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0);
}

div[id$="content-container"] div[id$="y-tracks-y-axis-viewport-y-scrollbar"] div[id$="viewport"] div[id$="sweep-zoom-container"] {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  z-index: 512;
  background-color: rgb(255 234 219 / 43%);
  cursor: move;
  border: 1px solid #000;
}

div[id$="content-container"] div[id$="y-tracks-y-axis-viewport-y-scrollbar"] div[id$="viewport"] div[id$="x-guide"] {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  border-top-style: dotted;
  border-top-width: thin;
  border-top-color: #202020;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  z-index: 555;
  pointer-events: none;
}

div[id$="content-container"] div[id$="y-tracks-y-axis-viewport-y-scrollbar"] div[id$="viewport"] div[id$="y-guide"] {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  border-left-style: dotted;
  border-left-width: thin;
  border-left-color: #202020;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  z-index: 666;
  pointer-events: none;
}

div[id$="content-container"] div[id$="y-tracks-y-axis-viewport-y-scrollbar"] div[id$="y-axis-scrollbar-container"] {
  display: none !important;
  position: relative;
  width: 20px;
  height: 100%;
  background-color: #efefef;
}

div[id$="content-container"] div[id$="y-tracks-y-axis-viewport-y-scrollbar"] div[id$="y-axis-scrollbar-container"] div[id$="y-axis-scrollbar"] {
  position: relative;
  /* dynamic y and height */
  top: 25%;
  height: 50%;
  left: 0;
  width: 100%;
  background-color: #a5a5a54d;
}

div[id$="content-container"] div[id$="y-tracks-y-axis-viewport-y-scrollbar"] div[id$="y-axis-scrollbar-container"] div[id$="y-axis-scrollbar"] div {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  z-index: 512;
  vertical-align: middle;
  text-align: center;
  line-height: 20px;
  color: #37373769;
  font-size: small;
  font-weight: 200;
  white-space: nowrap;
}

div[id$="content-container"] div[id$="x-scrollbar-container"] {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 100%;
  height: 20px;
  border-radius: 1rem;
}

div[id$="content-container"] div[id$="x-scrollbar-container"] div[id$="x-axis-scrollbar-container"] {
  display: block;
  position: relative;
  width: calc(100% - (0px + 40px + 20px));
  height: 100%;
  margin-right: 20px;
  background-color: #efefef;
}

div[id$="content-container"] div[id$="x-scrollbar-container"] div[id$="x-axis-scrollbar-container"] div[id$="x-axis-scrollbar"] {
  position: relative;
  /* dynamic x and width */
  left: 25%;
  width: 50%;
  top: 0;
  height: 100%;
  background-color: #a5a5a54d;
}

div[id$="content-container"] div[id$="x-scrollbar-container"] div[id$="x-axis-scrollbar-container"] div[id$="x-axis-scrollbar"] div {
  display: inline-block;
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  width: 100%;
  z-index: 512;
  vertical-align: middle;
  text-align: center;
  line-height: 20px;
  color: #37373769;
  font-size: small;
  font-weight: 200;
  white-space: nowrap;
}

.hic-whole-genome-chromosome-highlight {
  cursor: pointer;
}

.hic-track-menu {
  position: absolute;
  color: white;
  width: 120px;
  height: 120px;
  background-color: #3a8ab4;
}

.hic-root-selected {
  border-color: #5f5f5f;
}

.unselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.igv-trackgear-container {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 4px;
  color: #7F7F7F;
}

.igv-trackgear-container:hover {
  cursor: pointer;
  color: #444;
}

/*# sourceMappingURL=juicebox.css.map */