html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

div.canvas-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.canvas {
  height: 100%;
  width: 100%;
}

.top-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 48px;
  background-color: #5b5c6014;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 9;
  justify-content: space-around;
}


.button-like-file-select {
  width: 35px;
  border: 1px solid #eee;
  background: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  border-radius: 10px;
  margin-left: 10px;
}

.icon-folder {
  width: 1rem;
  height: 1rem;
  position: relative;
  display: block;
}


.setting-icon {
  width: 1rem;
  height: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}


.input-card {
  margin-left: 30px;
  margin-right: 30px;
  width: 60%;
  height: 30px;
  border-radius: 8px;
}

.input-card input {
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  padding-left: 10px;
}


.setting-bar {
  margin-right: 10px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: white;
  border-radius: 10px;
}


.info-card {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 200px;
  margin-top: 10px;
  background-color: skyblue;
}



.canvas-container {
  width: 100%;
  height: 100%;
}



.left-info {
  position: fixed;
  top: 50px;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  margin-top: 10px;
}

.left-info div {
  font-size: 0.7rem;
  font-weight: 500;
  padding-top: 5px;
}

.setting-menu {

  position: fixed;
  right: -100%;
  top: 50px;
  width: 150px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: .3s ease-in-out;
}

.bg-setting,
.chrom-setting,
.width-setting,
.canvas-setting,
.sync-setting {
  margin-top: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-left: 2px rgb(154, 180, 190) solid;
  margin-left: 3px;
  margin-right: 3px;
}

.title {
  width: 80px;
  height: 20px;
  background-color: #EDEDED;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  padding-left: 5px;
  color: black;
  font-weight: 500;

}

.bg-setting input {
  outline: none;
  border: none;
  width: 45px;
  height: 25px;
}


.width-setting input {
  outline: none;
  border: none;
  width: 38px;
  height: 19px;
  border: 2px silver solid;
}

.chrom-setting select {
  outline: none;
  border: none;
  width: 85px;
  height: 20px;
}

.width-setting select {
  outline: none;
  border: none;
  width: 85px;
  height: 20px;
}


.chrom-setting select::-webkit-scrollbar {
  width: 2px;
}

.chrom-setting select::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, .2);
}

.chrom-setting select::-webkit-scrollbar-thumb {
  background: #738188c5;
}



.width-setting select::-webkit-scrollbar {
  width: 2px;
}

.width-setting select::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, .2);
}

.width-setting select::-webkit-scrollbar-thumb {
  background: #738188c5;
}

.chrom-setting input {
  outline: none;
  border: none;
  width: 45px;
  height: 25px;
}

.active {
  background-color: #23bae0;
}

.canvas-setting input {
  width: 15px;
  height: 15px;
}


.sync-setting input {
  width: 15px;
  height: 15px;
}

.page-setting {
  margin-top: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-left: 2px rgb(154, 180, 190) solid;
  margin-left: 3px;
  margin-right: 3px;
}

.page-setting button {
  width: 85px;
  height: 22px;
}